@font-face {
  font-family: "Computer Modern"; /* Name your font */
  src: url("fonts/cmunorm.ttf") format("truetype");
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #16161a;
  font-family: "Computer Modern";
  scroll-behavior: smooth;
  color: white;
}

.section-title {
  font-size: 26pt;
  margin: 6vh 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* ------- HEADER ---------*/

header {
  position: fixed;
  width: 100%;
  height: 10%;
  min-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 4;
}

#header-div {
  width: 15%;
  min-width: 200px;
  height: 60%;
  min-height: 40px;
  border-radius: 40pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2f2f6a;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 10vh;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

#header-div button {
  text-decoration: none;
  color: white;
  font-size: 12pt;
  border: none;
  background: none;
  font-family: "Computer Modern";
}

#header-div button:hover {
  color: #7f5af0;
  transition: 0.3s;
}

/* -------- FOOTER ---------*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0% 15% 0% 15%;
}

/* -------- MAIN SECTION ---------*/

#main-section {
  position: relative;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#background-animation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#main-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text-top {
  font-size: 14pt;
  margin: 0;
  padding: 0;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

#text-mid {
  font-size: 24pt;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

#text-down {
  font-size: 14pt;
  margin: 0;
  padding: 0;
  -webkit-backdrop-filter: blur(4px);
}

#scroll-arrow {
  z-index: 1;
  width: 3vw;
  min-width: 40px;
  margin-top: 80vh;
  animation: floatArrow 2s ease-in-out infinite;
}
@keyframes floatArrow {
  0%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}

/* -------- PROJECTS SECTION ---------*/
#projects-section {
  margin: 0% 15%;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Default: 3 columns */
  grid-template-rows: auto; /* Adjusted for content */
  gap: 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "project-1 project-2 project-3"
    "project-4 project-5 project-6";
  margin: 0 0 5% 0%;
}

/* For medium screens: Use 2 columns */
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "project-1 project-2"
      "project-3 project-4"
      "project-5 project-6";
  }
}

/* For small screens: Use 1 column */
@media screen and (max-width: 700px) {
  .projects-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "project-1"
      "project-2"
      "project-3"
      "project-4"
      "project-5"
      "project-6";
  }
}

#project-1 {
  grid-area: project-1;
}

#project-2 {
  grid-area: project-2;
}

#project-3 {
  grid-area: project-3;
}

#project-4 {
  grid-area: project-4;
}

#project-5 {
  grid-area: project-5;
}

#project-6 {
  grid-area: project-6;
}
.project-card {
  min-height: 100px;
  max-height: 500px;
  height: 30vh;

  border: solid 1px #ffffff00;
  border-radius: 2pt;
  background-color: #242629;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 30px 10px;
}

.project-card:hover {
  border: solid 1px #7f5af0;
  background-color: #7f5af09f;
  cursor: grab;
  #card-header {
    color: #fffffe;
    transition: 0.5s ease-in-out;
  }
  #card-body {
    transition: 0.5s ease-in-out;
  }
}

#card-header {
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 18pt;
  padding: 0px 20px;
  margin-bottom: 10px;
  color: #fffffe;
}
#card-body {
  height: 65%;
  display: flex;
  align-items: center;
  font-size: 14pt;
  padding: 0px 20px;
  color: #94a1b2;
}

/* -------- ABOUT ME ---------*/
#about-section {
  margin: 0% 15%;
}

/* -------- PROJECTS ---------*/
.project-container {
  display: flex;

  flex-direction: column;
  padding-top: 25vh;
  margin: 0% 15%;
}
.project-hr {
  height: 1px;
  width: 100%;
  border: none;

  background-color: rgb(255, 255, 255);
}
.project-title {
  font-size: 26pt;
  margin: 0 0 40px 0;
  padding: 0 10px;
  color: #fffffe;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-subtitle {
  font-size: 18pt;
  margin: 10px 0;
  padding: 0;
  color: #fffffe;
  padding: 20px 0;
}

.project-text {
  font-size: 13pt;
  margin: 0;
  padding: 0;
  color: #94a1b2;
}

@media screen and (min-width: 1000px) {
  #project-animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  .project-widgets {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 4pt;
    padding: 10px;
    margin: 10px 10px;
  }
}

@media screen and (max-width: 1000px) {
  #project-animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
  }
  .project-widgets {
    display: flex;
    width: 500px;
    justify-content: top;
    align-items: center;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 4pt;
    padding: 10px;
    margin: 10px 10px;
  }
}

.project-animation {
  border: 1px solid white;
  border-radius: 10pt;
  margin-bottom: 10pt;
}
canvas {
  border-radius: 10pt;
}

#project-references {
  list-style-type: none;
  margin: 30px 0px;
}

#project-references a {
  color: #94a1b2;
  text-decoration: none;
}

#project-references a:hover {
  color: #7f5af0;
  text-decoration: none;
}

ul {
  padding: 0;
}

/* -------- WIDGETS ---------*/

.button {
  width: 80%;
  border: none;
  border-radius: 4pt;
  padding: 10px;
  margin: 10px;
  background-color: #7f5af0;
  color: white;
  font-size: 12pt;
  font-family: "Computer Modern";
  cursor: pointer;
}
.button:hover {
  background-color: #4f2f90;
  transition: 0.3s;
}

.slider {
  height: 5px;
  border-radius: 10px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 90%;
  background-color: #fffffe;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #7f5af0;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  background-color: #4f2f90;
  transition: 0.3s;
}

